@import 'https://cdn.jsdelivr.net/npm/csstack@1.2.5/css/master.css';
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Cutive+Mono&family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

$color-mock: rgba(100,100,100,0.2);

$color-inverse: whitesmoke;

$color-deep-black: rgb(8,8,32);

$color-background: #282a36;

$font-general: 'Alegreya', serif;
$font-primary: 'Cutive Mono', monospace;
$font-aux: 'Nixie One', cursive;
$font-extra: 'Raleway', sans-serif;

html {
  scroll-behavior: smooth;
}

header {
  min-height: 100vh;
}

#content {
  background-color: whitesmoke;
  padding: 20px;
}

h2 {
  @media screen and (max-device-width: 768px) {
    font-size: 2rem;
  }
  @media screen and (max-device-width: 425px) {
    display: none;
  }
}

.mock-block {
  div {
    cursor: default;
  }
  font-family: $font-extra;
  font-size: 5rem;
  color:white;
  min-height: 100vh;
  background-image: url('../assets/img/pc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  background-color: black;
  @media screen and (max-device-width: 768px) {
    background-size: 100%; 
    font-size: 2rem;
  }
}

$color-glow: rgba(255,255,255,0.2);
$color-brighter: rgba(255,255,255,0.5);

#notebook-glow {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: $color-glow;
  border-radius: 50%;
  box-shadow: 0 0 100px 100px $color-glow ;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: glow 1.2s linear infinite alternate;
  &::after {
      content: "";
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px 10px $color-brighter ,0 0 10px 10px $color-brighter;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    &::after {
      opacity:1;
    }
  }
}

@keyframes glow{
  to {
    -webkit-transform: scale(1.50, 1.50);
    transform: scale(1.50, 1.50);
    @media screen and (max-device-width: 425px){
      transform: scale(1.75, 1.75);
      box-shadow: 0 0 100px 100px $color-brighter ;
      background-color: $color-brighter;
    }
  }
}

.sub-container {
  border-radius: 10px;
  border: solid rgba(16,16,32,0.2) 1px;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 0 5px 5px rgba(16,16,16,0.3);
    transition: 0.3s;
  }
}

.asset {
  width: 50%;
  margin: auto;
  transition: 0.1s;
  &:hover {
    cursor: pointer;
    transition: 0.2s; 
    transform: scale(1.1);
  }
  @media screen and (max-device-width) {
    width: 50%;
    &:hover {
      transform: none;
    }
  }
}

.sub-asset {
  width: 100%;
  margin: auto;
  transition: 0.1s;
  border-radius: 10px 0 0 10px;
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-device-width: 425px) {
    border-radius: 10px 10px 0 0;
  }
}

.btn-light {
  font-size: 2rem;
  color: $color-inverse;
  border: solid $color-inverse 1px;
  border-radius: 5px;
  transition: 0.1s;
  &:hover{
    cursor:pointer;
    background-color: $color-inverse;
    color: black;
    transition: 0.2s;
  }
}

.big-container {
  min-height: 100vh;
  span {
    display:none;
    @media screen and (max-device-width: 425px) {
      display:inline;
    }
  }
}

.small-container {
  min-height: 30vh;
}

.subtitle {
  font-family: $font-aux;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item {
  font-size: 2rem;
  font-family: $font-primary;
}

.items-container {
  max-height: 100vh;
  position: sticky;
  top: 0;
  justify-content: flex-end;
  background-color: $color-background;
  @media screen and (max-device-width: 425px) {
    display:none;
  }
}

.mt-auto {
  margin-top: 5rem;
  @media screen and (max-device-width: 525px) {
    margin-top: 0.5rem;
  }
}

a {
  img {
    width: 100%;
  }
}

.item-container {
  border-radius: 10px 0 0 10px; 
  height: 20%;
  width: 50%;
  margin-right: 0;
  transition: 1s;
  background-color: gray;
  &:hover{
    transition: 0.2s;
    width: 90%;
    cursor: pointer;
    box-shadow: -6px 4px 0 3px $color-deep-black; 
  }
}

.active {
  width: 75%;
  transition: 1s;
  background-color: whitesmoke;
  box-shadow: -2px 2px 1px 1px gray; 
}

.body-text {
  font-family: $font-primary;
  font-size: 1.5rem;
  @media screen and (max-device-width: 425px) {
    font-size: 1rem;
  }
}

.no-space {
  margin:0;
  padding:0;
}

footer {
}
