@import 'framework.css';
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Cutive+Mono&family=Nixie+One&display=swap');

$color-mock: rgba(100,100,100,0.2);
$font-general: 'Alegreya', serif;
$font-primary: 'Cutive Mono', monospace;
$font-aux: 'Nixie One', cursive;

* {
  background-color: $color-mock; 
  border: solid rgba(50,50,50,0.5);
}

.mock-block {
  min-height: 5rem;
  background-color: $color-mock; 
}

.big-container {
  height: 100vh;
}

.small-container {
  min-height: 30vh;
}

.subtitle {
  font-family: $font-aux;
  font-size: 3rem;
}

.item {
  text-align: center;
}

.items-container {
  max-height: 100vh;
  position: sticky;
  top: 0;
}

.item-container {
  height: 100%;
  &:hover{
    cursor: pointer;
  }
}

.body-text {
  font-family: $font-primary;
  font-size: 1.5rem;
}

.no-space {
  margin:0;
  padding:0;
}

footer {
  height: 600px;
}
